.public_btn{
	margin-top: 40px;
}


.loca_a1{
	position: absolute;
	top: 250px;
	left: 10%;
	color: #666666;
	font-size: 15px;
}
.loca_a2{
	position: absolute;
	top: 250px;
	right: 10%;
	color: #666666;
	font-size: 15px;
}







