
.mui-bar .mui-pull-right{
	font-size: 14px;
	text-decoration:underline;
	line-height: 40px;
	color: #0A7D61;
	letter-spacing: 1px;
}


.mui-icon-clear:before{
	position: absolute;
	right: 10px ;
	top: -10px;
}
.mui-input-row .mui-input-clear~.mui-icon-clear{
	width: 100%;
	color: #CCCCCC;
}

//修改性别
.mui-table-view-cell:after{
	height: 0 !important;
}

//多选按钮

.mui-table-view-cell{
	padding: 8px;
	height: 39px;
	
}
.mui-table-view-cell.mui-checkbox.mui-left{
  padding-left: 30px;
  padding-right: 5px;
  font-size: 13px;
  width: auto;
  float: right;
}
.mui-checkbox.mui-left input[type=checkbox]{
  left: 0;
}
.mui-table-view-cell:after{
	height: 0;
}
